mixin lockers(lockers)
    div
        h4
            h4=lockers.number
        ul
            h5
                if lockers.available
                    a.green(href=`/locker/${lockers.id}`) 신청하기 &rarr;
                    //누군가가 누르면 available false로 변경
                else
                    h5 사용중