doctype html
html(lang="ko")
    head
        title CNU Locker | #{pagetitle}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1 ⌛️CNU Electronic Engineering Locker Application Program⏳
            h3 This is #{pageTitle} page 
        main
            block content
    include partials/footer.pug